body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

form>button:hover {
    background-color: #353535 !important;
}

button#menu {
    background: #00000082;
    margin: 0.25rem auto;
    display: none;
    border: 0px;
    font-size: 4rem;
    line-height: 0rem;
    height: 4rem;
    border-radius: 5px;
    color: #fff;
    padding: 0 0.3rem;
}

button:hover {
    background-color: #353535 !important;
}

#form {
    background: #205C40;
    bottom: 0;
    right: 0;
    display: flex;
    width: 75vw;
    height: 7vh;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    position: absolute;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 93vh;
    overflow: auto;
    background-color: #21B36A;
}

.chatbox {
    width: 100%;
    height: 100%;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #ffffff50;
}

#messages>li>i {
    color: #000000a8;
    font-size: small;
}

.notif {
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
}

.media {
    border-radius: 0.5rem;
    width: 100%;
    height: 15rem;
    max-width: 25rem;
}

.users {
    background: #00594f;
    height: 100vh;
    width: 25vw;
    overflow: auto;
}

#users {
    padding: 0.5rem !important;
    padding-top: 0 !important;
}

#users>li {
    background: #018274;
    list-style-type: none;
    border: none;
    width: auto;
    border-radius: 2rem;
    padding: 0.2rem;
    margin: 2%;
    display: flex;
}

#users>li>img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

#users>li>p {
    margin: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0;
    color: #fff;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.content {
    width: 75vw;
    height: 100vh;
    background: #205C40;
    z-index: 0;
}

.settings-bar {
    background: #004b44;
    bottom: 0;
    left: 0;
    width: 25vw;
    min-height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    position: absolute;
}

.settings-bar>button {
    background: #333;
    border: none;
    padding: 0.77rem 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 24vw;
    display: block;
}

#settings-form {
    background: #004b44;
    bottom: 0;
    left: 0;
    display: none;
    width: 25vw;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    position: absolute;
}

#settings-form>button {
    background: #333;
    border: none;
    padding: 0.77rem 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 24vw;
    display: block;
}

#user_nick, #user_pic {
    border: none;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    margin-bottom: 1rem;
    width: 18.5vw;
}

#user_nick:focus, #user_pic:focus {
    outline: none;
}

#settings-form>label {
    color: #fff;
    padding: 0.5rem;
    flex-grow: 1;
    display: block;
}

@media only screen and (max-width: 650px) {

    #form {
        width: 100vw;
        z-index: -1;
    }

    .content {
        width: 100vw;
    }

    .users {
        background: #00594f;
        height: 100vh;
        width: 4rem;
        overflow: auto;
        /*position: absolute;*/
    }
    
    button#menu {
        display: block;
    }

    #users>li>p{
        display: none;
    }

    #users>li {
        width: min-content;
    }

    .settings-bar {
        display: none;
    }

    .settings-bar, .settings-bar>button
    #settings-form, #settings-form>label, 
    #settings-form>button, #user_nick, #user_pic {
        width: 93vw;
    }

}